.main-content {
  padding-bottom: 6em;
  padding-top: 1em;
}

.nav-link.inline-link {
  display: inline;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.centered-block {
  margin: auto;
  display: block;
  text-align: center;
}

.app .main-btn,
.app .secondary-btn,
.app .tertiary-btn {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px 0px #c5c5c5;
  box-shadow: 1px 1px 2px 0px #c5c5c5;
  transition: background-color .15s, opacity .15s;
  
}
.app .main-btn:hover,
.app .secondary-btn:hover,
.app .tertiary-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #c5c5c5;
  box-shadow: 0px 0px 5px 1px #c5c5c5;
}

.main-btn.big-btn,
.secondary-btn.big-btn,
.tertiary-btn.big-btn {
  padding: 1em 0;
  height: auto;
}

.main-btn.small-btn,
.secondary-btn.small-btn,
.tertiary-btn.small-btn {
  padding: .2em .2em;
  height: auto;
}

form .main-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.max-w-40 {
  max-width: 40em;
  margin: auto;
}

.max-w-20 {
  max-width: 20em;
  margin: auto;
}

.max-w-10 {
  max-width: 10em;
  margin: auto;
}

.max-w-5 {
  max-width: 5em;
  margin: auto;
}

.w-100-percent {
  width: 100%;
}


input.invalid, input.invalid:focus {
  -webkit-box-shadow: 0px 0px .2rem .2rem #F58F8F !important;
  box-shadow: 0px 0px .2rem .2rem #F58F8F !important;
}
.errormsg {
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.errormsg.visible {
  height: auto;
  background-color: #F58F8F;
  padding: .5em;
  border-radius: .25em;
  margin-top: .5em;
  margin-bottom: .5em;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 0ms, height 250ms ease-in-out 0ms, margin 250ms ease-in-out 0ms, padding 250ms ease-in-out 0ms;
  transition: opacity 250ms ease-in-out 0ms, height 250ms ease-in-out 0ms, margin 250ms ease-in-out 0ms, padding 250ms ease-in-out 0ms;
}

.input-wrapper {
  position: relative;
}
.input-errormsg {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 3rem;
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 12px;
  color: black;
  background-color: #F58F8F;
  border-radius: .25rem;
  z-index: 1000;
  padding: .2rem;
  -webkit-box-shadow: #F58F8F 0px 0px 2px 1px;
  box-shadow: #F58F8F 0px 0px 2px 1px;
  transition: opacity 250ms ease-in-out 0ms;
}
input.invalid:focus + .input-errormsg.visible {
  visibility: visible;
  opacity: .75;
}
.input-errormsg.input-errormsg.visible::before {
  content: "\25b2";
  color: #ef4949;
  font-size: 12px;
  position: absolute;
  top: -.9rem;
  left: 50%;  
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}


.rounded .form-control,
.rounded .btn,
.rounded button,
.rounded .select__control,
.rounded .select__multi-value,
.rounded .modal-content {
  border-radius: 2em;
}

.rounded .select__menu,
.rounded .select__menu-list {
  border-radius: 1em;
}

.select__menu .select__menu-list {
  padding: 0;
}
