.main-content {
  padding-bottom: 6em;
  padding-top: 1em;
}

.nav-link.inline-link {
  display: inline;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

input.invalid, input.invalid:focus {
  border: 1px solid red !important;
  box-shadow: 0 0 0 0.2rem #F58F8F;
}

.main-btn.big-btn {
  padding: auto 2em;
}



/* Theme specific css */
.theme-1 .bottom-bar.navbar, 
.theme-1 .side-menu {
  background-color: #72c567;
  color: white;
}
.theme-1 .main-btn:hover {
  background-color: #396233;
}
.theme-1 .main-btn, 
.theme-1 .main-btn:disabled,
.theme-1 .form-control[type="submit"]:focus {
  background-color: #72c567;
  color: white;
  border-color: #396233;
}
.theme-1 .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #396233;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(91, 157, 82, 0.25);
}
.theme-1 .main-btn:disabled {
  opacity: 0.6;
}


.theme-2 .bottom-bar.navbar, 
.theme-2 .side-menu {
  background-color: #84b1da;
  color: white;
}
.theme-2 .main-btn:hover {
  background-color: #42586d;
}
.theme-2 .main-btn, 
.theme-2 .main-btn:disabled,
.theme-2 .form-control[type="submit"]:focus {
  background-color: #84b1da;
  color: white;
  border-color: #42586d;
}
.theme-2 .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #42586d;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(105, 141, 174, 0.25);
}
.theme-2 .main-btn:disabled {
  opacity: 0.6;
}


.theme-3 .bottom-bar.navbar, 
.theme-3 .side-menu {
  background-color: #e15527;
  color: white;
}
.theme-3 .main-btn:hover {
  background-color: #702a13;
}
.theme-3 .main-btn, 
.theme-3 .main-btn:disabled,
.theme-3 .form-control[type="submit"]:focus {
  background-color: #e15527;
  color: white;
  border-color: #702a13;
}
.theme-3 .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #702a13;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(225, 85, 39, 0.25);
}
.theme-3 .main-btn:disabled {
  opacity: 0.6;
}


.theme-old .bottom-bar.navbar, 
.theme-old .side-menu {
  background-color: #99ff99;
  color: white;
}
.theme-old .main-btn:hover {
  background-color: white;
  color: #4d4d4d;
  border-color: #4d4d4d;
}
.theme-old .main-btn, 
.theme-old .main-btn:disabled,
.theme-old .form-control[type="submit"]:focus {
  background-color: #99ff99;
  color: white;
  border-color: #4c7f4c;
}
.theme-old .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4c7f4c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(122, 204, 122, 0.25);
}
.theme-old .main-btn:disabled {
  opacity: 0.6;
}