//Landing page CSS file

.landingDiv
{
  width: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.searchDiv {
  height: 25%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  paddin-right: 20px;
}

form.search {
  margin-top: 20px;
  margon-bottom: 20px;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  b1ackground: #f1f1f1;
  border-radius: 25px 0px 0px 25px;

}
form.search button.searchBtn {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 25px 25px 0px;
}

button.filterBtn {
  float: left;
  width: 40%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
  margin-left: 30%;
  margin-right: 30%;
}

.eventsDiv {
  width: 100%;
  height: 75%;
  border-top-color: #e5e5e5;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 5px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  clear: both;
}

.event {
 width: 100%;
 padding-left: 30px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 10px;
 border-color: #e5e5e5;
 border-style: solid;
 border-width: 1px;
}

a.event {
 display: block;
 width: 100%;
 padding-left: 30px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 5px;
 margin-right: 5px;
 border-radius: 10px;
 border-color: #e5e5e5;
 border-style: solid;
 border-width: 1px;
 text-decoration: none;
}

.instructions {
  font-size: small;
  color: gray;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  margin-left: 40%;
  margin-right: 40%;
  min-width: 20%;
}

.filterBox
{
  position: absolute;
  width: 80%;
  min-height: 100%;

}

.loadingSpinner
{
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
}
