#login{
  display: block;
  top: 25%;
  left:25%;
  width: auto;
  position:absolute;
  margin: 0;
  margin-right: -50%;
}

.input{
  margin: 10px 10px
}

.facebookBtn
{
  width: 150px;
  height: 50xpx;
}

.googleBtn
{
  width: 150px;
  height: 50xpx;
}
