.theme-1 .bottom-bar.navbar {
  color: white;
}

.bottom-bar.navbar .icon {
  color: black;
}

.menu-items {
  margin: 0 auto;
}

.side-menu {
  transition: opacity 200 ms ease-in-out;
  opacity: 0;
  background-color: #99ff99;
  color: white;
  display: block;
  width: 20em;
  left: -500px;
  height: 100%;
  position: fixed;
  top: 0px;
}
