.side-menu {
  transition: opacity 200 ms ease-in-out;
  opacity: 0;
  display: block;
  width: 20em;
  left: -500px;
  height: 100%;
  position: fixed;
  top: 0px;
}

.side-menu .menu-item .nav-link {
  display: block;
  color: inherit;
  width: 100%;
  text-align: center;
}

.side-menu .menu-item {
  text-align: center;
  border-style: none none solid none;
  border-color: inherit;
}


.side-menu .menu-item .nav-link:hover {
  color: #2b2b2b;
  background-color: white;
}

.bottom-bar.navbar .icon {
  color: black;
}
