.side-menu {
  transition: left 250ms ease-in-out 0ms, opacity 400ms ease-in-out 0ms;
  opacity: 0;
  display: block;
  width: 20em;
  left: -500px;
  height: 100%;
  position: fixed;
  top: 0px;
  box-shadow: 0px 0px 2px 1px #8b8b8b;
  padding-bottom: 6em;
}

.side-menu .menu-item .nav-link {
  display: block;
  color: inherit;
  width: 100%;
  text-align: center;
  padding: .75em 0;
}

.side-menu .menu-item {
  text-align: center;
  box-shadow: 0px 1px;
  border-color: inherit;
}

.side-menu .menu-item .nav-link:hover {
  color: #2b2b2b;
  background-color: white;
}


.language-container {
  text-align: center;
  padding: .75em 0em;
}

.language-container .language-button img {
  width: 3em;
  height: 3em;
}

.language-container .language-button {
  display: inline-block;
  margin: 0 1em 0 0;
  opacity: 0.8;
}

.language-container .language-button:last-child {
  margin: 0;
}

.language-container .language-button:hover {
  opacity: 1;
}


.bottom-bar.navbar .icon {
  color: black;
}

.bottom-bar.navbar {
  box-shadow: 0px 1px 2px 2px #8b8b8b;
}