

#test {

  color: red;

}
.loadingSpinner {
  height: 50px;
  width: 50px;
}
#test2 {
  position: absolute;
  top: 50px;
  z-index: 3;
}
.pagination li{

  padding-left: 30px;
  font-size: 20px;
  padding-right: 15px;
  margin-left:10px;
  border-style: solid;
  border-width: 2px;
  background-color: #72c567;
  border-radius: 3em;
  margin:1em 1em 1em 1em !important;

}

#react-paginate li {

  font-size: 30px;  
}
.row1 {
  background-color: #72c567;
  border-radius: 3em;

  border-style: solid solid solid solid;

  border-color: #1e541c;

  border-width: 0.25em;

  margin:1em 1em 1em 1em !important;
  
 
}


.starWidh  {
  width: 10em;
}
