/* Theme specific css */
.theme-1 .bottom-bar.navbar, 
.theme-1 .side-menu {
  background-color: #72c567;
  color: white;
}
.theme-1 .main-btn:hover, 
.theme-1 .main-btn:focus {
  background-color: #66b15c;
}
.theme-1 .main-btn, 
.theme-1 .main-btn:disabled,
.theme-1 .form-control[type="submit"]:focus,
.theme-1 .btn:active,
.theme-1 .btn:focus,
.theme-1 .select__option--is-focused {
  background-color: #72c567;
  color: white;
  border-width: 0;
}
.theme-1 .form-control:focus,
.theme-1 .btn:active,
.theme-1 .btn:focus,
.theme-1 .select__control--is-focused,
.theme-1 .select__control--is-focused:hover {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: 0 0 .2rem .2rem rgba(91, 157, 82, 0.3);
  box-shadow: 0 0 .2rem .2rem rgba(91, 157, 82, 0.3);
}
.theme-1 .form-control[type="submit"]:focus,
.theme-1 .btn:active,
.theme-1 .btn:focus {
  background-color: #66b15c;
  color: white;
}
.theme-1 .main-btn:disabled {
  opacity: 0.6;
}
.theme-1 .loadingSpinner {
  fill: #72c567 !important;
  opacity: 0.6;
}


.theme-2 .bottom-bar.navbar, 
.theme-2 .side-menu {
  background-color: #84b1da;
  color: white;
}
.theme-2 .main-btn:hover {
  background-color: #769fc4;
}
.theme-2 .main-btn, 
.theme-2 .main-btn:disabled,
.theme-2 .form-control[type="submit"]:focus,
.theme-2 .btn:active,
.theme-2 .btn:focus,
.theme-2 .select__option--is-focused {
  background-color: #84b1da;
  color: white;
  border-width: 0;
}
.theme-2 .form-control:focus,
.theme-2 .btn:active,
.theme-2 .btn:focus,
.theme-2 .select__control--is-focused,
.theme-2 .select__control--is-focused:hover {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: 0 0 .2rem .2rem rgba(105, 141, 174, 0.3);
  box-shadow: 0 0 .2rem .2rem rgba(105, 141, 174, 0.3);
}
.theme-2 .form-control[type="submit"]:focus,
.theme-2 .btn:active,
.theme-2 .btn:focus {
  background-color: #769fc4;
  color: white;
}
.theme-2 .main-btn:disabled {
  opacity: 0.6;
}
.theme-2 .loadingSpinner {
  fill: #84b1da !important;
  opacity: 0.6;
}


.theme-3 .bottom-bar.navbar, 
.theme-3 .side-menu {
  background-color: #e15527;
  color: white;
}
.theme-3 .main-btn:hover {
  background-color: #ca4c23;
}
.theme-3 .main-btn, 
.theme-3 .main-btn:disabled,
.theme-3 .form-control[type="submit"]:focus,
.theme-3 .btn:active,
.theme-3 .btn:focus,
.theme-3 .select__option--is-focused {
  background-color: #e15527;
  color: white;
  border-width: 0;
}
.theme-3 .form-control:focus,
.theme-3 .btn:active,
.theme-3 .btn:focus,
.theme-3 .select__control--is-focused,
.theme-3 .select__control--is-focused:hover {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: 0 0 .2rem .2rem rgba(225, 85, 39, 0.3);
  box-shadow: 0 0 .2rem .2rem rgba(225, 85, 39, 0.3);
}
.theme-3 .form-control[type="submit"]:focus,
.theme-3 .btn:active,
.theme-3 .btn:focus {
  background-color: #ca4c23;
  color: white;
}
.theme-3 .main-btn:disabled {
  opacity: 0.6;
}
.theme-3 .loadingSpinner {
  fill: #e15527 !important;
  opacity: 0.6;
}


.theme-old, .theme-old .main-btn {
  text-shadow: 0px 0px 1px #cccccc;
}
.theme-old .bottom-bar.navbar, 
.theme-old .side-menu {
  background-color: #99ff99;
  color: white;
}
.theme-old .main-btn:hover {
  background-color: #ffffff;
  color: #4d4d4d;
  border-width: 0;
}
.theme-old .main-btn, 
.theme-old .main-btn:disabled,
.theme-old .form-control[type="submit"]:focus,
.theme-old .btn:active,
.theme-old .btn:focus,
.theme-old .select__option--is-focused {
  background-color: #99ff99;
  color: white;
  border-width: 0;
}
.theme-old .form-control:focus,
.theme-old .btn:active,
.theme-old .btn:focus,
.theme-old .select__control--is-focused,
.theme-old .select__control--is-focused:hover {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  -webkit-box-shadow: 0 0 .2rem .2rem rgba(122, 204, 122, 0.3);
  box-shadow: 0 0 .2rem .2rem rgba(122, 204, 122, 0.3);
}
.theme-old .main-btn:disabled {
  opacity: 0.6;
}
.theme-old .loadingSpinner {
  fill: #99ff99 !important;
  opacity: 0.6;
}
