//Review writing page CSS file

.reviewBtn {
  
}

div.reviewDiv {
  width: 100%;
  color: red;
  padding-left: 500px;
}

form.review {
  text-align: left;
}

button.submitBtn {
}

.title {
  width: 100%;
}

.reviewTextArea {
  width: 100%;
  height: 150px;
}

.reviewModal {
  width: 100vh;
}